body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(125, 211, 214);
}

.boton-header{
  background-color:  #8c28dc;

  &:hover{
    background-color:  #ca94eb ;
  }
}

.imagen-logo{
  height: 10vh;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/foto-perfil-vanessa.jpg");
  background-repeat:no-repeat;
  background-size:auto;

}
h1{
  text-shadow: rgba(105, 106, 108, 0.694) 0.1em 0.1em 0.08em
}
/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
}
.trabajos{
  background-color: #8c28dc;
}
.btn-outline-ver-mas{
  border:1px solid #8c28dc;
  color: #8c28dc;
  &:hover{
    background-color: #ca94eb;
    color: ;
  }
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
